.row
  .large-4.columns
    = form_for @bank, :remote => true do |f|
      = f.label :name
      = f.text_field :name
      = f.label :balance
      = f.text_field :balance
      = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button radius tiny alert'
      = f.submit :class => 'button tiny success'
  .large-8.columns