%h2 Register to $ for $

.row
  .large-5.columns
    = form_for @user do |f|
      = f.label :name, :autofocus => true
      = f.text_field :name
      = f.label :email
      = f.text_field :email
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit nil, :class => 'tiny button radius'
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
  .large-7.columns