- if @auth.present?
  %script
    var mybanks = [];


  %table
    %thead
      %th Bank Name
      %th Balance

    - @auth.banks.order(:name).each do |bank|
      %tr
        %td= link_to(bank.name, bank)
        %td= number_to_currency(bank.balance)

      %script
        = "var #{bank.name} = {};"
        = "#{bank.name}['label'] = '#{bank.name}';"
        = "#{bank.name}['value'] = #{bank.balance};"
        = "mybanks.push(#{bank.name});"

  :javascript
    Morris.Donut({
      element: 'chart',
      data: mybanks
    });

