%script
  var mybanks = [];

- if @auth.present?
  - @auth.banks.order(:name).each do |bank|
    = bank.name
    = bank.balance
    %script
      = "var #{bank.name} = {};"
      = "#{bank.name}['label'] = '#{bank.name}';"
      = "#{bank.name}['value'] = #{bank.balance};"
      = "mybanks.push(#{bank.name});"

