- if @auth.present?
  %script
    var mybanks = [];


  %table
    %thead
      %th Bank Name
      %th Balance

    - @auth.banks.order(:name).each do |bank|
      %tr
        %td= bank.name
        %td= bank.balance

      %script
        = "var #{bank.name} = {};"
        = "#{bank.name}['label'] = '#{bank.name}';"
        = "#{bank.name}['value'] = #{bank.balance};"
        = "mybanks.push(#{bank.name});"

  :javascript
    Morris.Donut({
      element: 'chart',
      data: mybanks
    });

